html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    max-width: 800px;
    padding: 20px;
    width: 100%;
    margin: auto;
    background-color: #eee;
}

@media (max-width: 767px) {
    .body {
        width: 100%;
    }
}